@charset "utf-8";

body{
    background-color: #D5DBDB;
}

/* Simple */
*{
    color: blue;
}
p{
    color: green;
}
p.Class-parr-3{
    color: pink;
}
.Class-parr-2{
    color: black;
}
li#e.uno{
    font-size: 25px;
}
#e-dos{
    color: black;
    font-size: 40px;
}

/* Combinados */
div, section{
    border: yellow 3px solid;
}
div h2{
color: red;
}
div p{  /*div li p */
    color: deeppink;
}
div.div-4 > p {
    color: orange;
}
article.artic + span{
    font-size: 40px;
    color: black;
}
article ~ span{
    font-size: 30px;
    color: turquoise;
}
th[scope]{
    color: yellowgreen;
}
th[scope="row"]{
    color: mediumslateblue;
    background-color: goldenrod;
}

td[class="price"]{
    background-color: darkgrey;
}
td[class~="prodct"]{
    background-color: yellowgreen;
    text-transform: uppercase;
}

/* table,td,th{
    padding: 10px;
    border: 1px solid green;
} */
