body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 30px;
}
p{
    padding: 10px;
}
header{
    background-color: hsla(27, 100%, 49%, 0.753);
    border: black 1px solid;
    border-radius: 20px;
    display: block;
}

nav{
    background-color: rgba(240, 224, 10, 0.911);
    border: black 1px solid;
    border-radius: 20px;
    display: block;
}

section{
    display: flex;
}

main{
    background-color:green;
    border: black 1px solid;
    border-radius: 20px;
    display: flex;
    width: 800px;
    height: 800px;
    justify-content: center;
}
article{
    background-color:rgb(36, 218, 127);
    border: black 1px solid;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    margin: 20px;
    margin-top: 300px;justify-content: left;
}

aside{
    background-color:rgb(67, 137, 218);
    border: black 1px solid;
    border-radius: 20px;
    margin-left: 30px;
    width: 500px;
    height: 800px;
    display: flex;
  justify-items: left;
}

footer{
    background-color:rgb(36, 218, 127);
    border: black 1px solid;
    border-radius: 20px;
    display: block;
}