@charset 'utf-8';

table{
    border: 5px solid black;
}

th,
td{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.Encabezado{
    background-color: rgb(137, 204, 235);
}

.num{
    background-color: rgb(247, 234, 122);
}

.Total{
    background-color: rgba(111, 235, 111, 0.61);
    text-align: right;
}


