@charset 'utf-8';

body{
    font-family: 'Raleway', sans-serif;
}

tr,th{
    background-color: rgba(219, 214, 214, 0.945);
    width: 70px;
    height: 70px;
    font-size: 25px;
}

.tr, th:hover{
    background-color: rgb(56, 55, 55);
    color: white;
}

table{
    background-color: rgb(87, 86, 86);
    border: transparent;
}

.Op{
    background-color: rgba(255, 136, 0, 0.959);
    color: white;
    font-size: 35px;
}

.Pantalla th{
    background-color: rgb(87, 86, 86);
    color: white;
    text-align: right;
    font-family: 'Muli' , sans-serif;
    font-size: 35px;
}

.Cero{
    font-family: 'Muli' , sans-serif;
    font-size: 30px;
    text-align: left;
}