/* Reglas
Selectores
Declaracioners
Propiedades
Valores */

body
{
   background-color: grey;
   font-family: 'Dosis' , sans-serif;
   margin: 0 auto;
   /* width: 1000px; */
}
.header{
    background-color: white;
    font-family: 'Abel', sans-serif;
    color:rgb(34, 33, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
}

.header a {
    font-weight: bold;
    font-size: x-large;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

.header a:hover{
    background-color: gray;
    color: white;
}


.menu ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ol li{
    display: inline-block;

}

figure{
    margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
    font-family: 'Abel', sans-serif;
    /* Estilo de letra negrita */
    font-weight: normal;
    /* Estilo de la letra, cursiva, normal, negrita */
    /* font-style: italic; */   
}

h1{
    /* Tamaño de letra */
    font-size: 40px;
    /* Espacio entre lineas */
    line-height: 150%; 
    /* Espacio entre cada letra */
    letter-spacing: -.2px;
    /* Texto a mnayuscula */
    text-transform: uppercase;
    /* Linea debajo del texto (subrayado) */
    /* text-decoration: underline; */
    /* Espacio entre el hero y el primer h1 */
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
}

h1 strong{
    color: white;
    background-color: rgb(17, 17, 17) ;
}


.hero{ 
    height: 300px;
    /* En caso de que se tenga en una carpeta diferente 
    primero se lolocan los puntos para salir de la carpeta actual
    y despues se coloca la carpeta donde se encientra la imagen
    como por ejemplo:
    background-image: url('../img/Escritorio.jpg'); */
    /* background-image: url('/Escritorio.jpg'); */
    background-image: url('../Imagen/Escri1.jpg');
    background-color: white;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    /* padding-right: 15px; */
    display: flex;

}

.js{
    padding: 20px;
}
h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    margin-bottom: 40px;
    margin-left: 150px;
    margin-top: 35px;
}

.jscript{
    /* Estos son para darle colores diferentes a c
    ada borde, dependiendo su lado
    border-top: 10px solid rgb(54, 147, 190);
    border-right: 10px solid rgb(54, 147, 190);
    border-left: 10px solid rgb(54, 147, 190);
    border-bottom: 10px solid rgb(54, 147, 190); */
    /* border-color: rgb(54, 147, 190);
    border-width: 1px;
    border-style: solid; */
    border: 1px solid black;
    border-radius: 10px;
    /* Esquibas de cada margen como redonda
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    margin: 25px;
    margin-bottom: 20px;
    padding: 35px;
    background-color: white;
    height: 500px;
    box-sizing: border-box;
    display: flex;
}

.Curso{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Curso-a{
    border: 1px solid black;
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: white; 
    color: white;
    float: left;
}

.jscript-detalle{
    width: 500px;
    /* margin: 35px; */
    padding: 35px;    
}

.jscript-T{
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.jscript-QueEs{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.jscript-concepto{
    font-size: 18px;
}

.Curso-detalle{
    /* margin: 35px;  */
    padding: 35px; 
    text-align: left;
}

.Curso-TT{
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.Curso-Descripcion{
    font-size: 18px;
    margin: 40px;
    margin-top: -60px;
    background-color: rgb(95, 94, 94);
    position: relative;
    padding: 20px;
    border-radius: 10px;

}

.Curso-url{
    font-size: 25px;
    color: rgb(35, 95, 119);
    text-decoration: none;
    border: 1px solid rgb(35, 95, 119);
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bolder;
    border-radius: 5px;
}

.Curso-url:hover{
    background-color: rgb(95, 94, 94);
    color: white;
}

/* .Curso-img{
      width: 280px;
      height: 200px;
      object-fit: cover;
} */

.jscript-imgf{
    width: 300px;
    display: flex;
}

.Curso-detalle h2{
   color: black;
   margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

/* cajas
.flexbox{
    display: flex;
    /* flex-wrap: nowrap; 
    flex-wrap: wrap;
    /* flex-direction: column; 
    /* justify-content: space-between;
    justify-content: space-around; 
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0;
} */

.Contacto{
    background-color: white;
    color: black;
    height: 170px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    justify-content: space-between;
    padding: 10px 20px 10px 35px;
}

.footer{
    background-color: rgb(29, 28, 28);
    color: white ;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    margin: 2px;
    font-size: 18px;
    justify-content: space-between;
    padding: 10px 20px 10px 35px;
}

.footer img{
    vertical-align: middle;
}

.social{
}

.social-l{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-size: 50px 50px;
}

.social-l.tw{
    background-image: url('../Imagen/in.jpg');
}

.social-l.in{
    background-image: url('../Imagen/in.jpg');
}

.social-l.fa{
    background-image: url('../Imagen/in.jpg');
}

.social-l.yt{
    background-image: url('../Imagen/in.jpg');
}

.form-email input{
  border-color: rgb(95, 94, 94);
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 35px;
  background-image: url('../Imagen/msj.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button{
    display: block;
    /* background: transparent; */
    background-color: rgb(31, 29, 29);
    color: white;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    /* margin: 10px auto 0; */
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 20px;

}