body{
    background: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Registro{
    background: rgb(0,0,0,.4);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
    position: relative;
    padding: 40px;
   
}

.Caja1{
     position: absolute;
     top: 7px;
     right: 7px;
     /* width: 100px;
     height: 30px; */
     font-size: 12px;
     line-height: 25px;
     text-align: center;
     border-top: 5px solid #0075d9;
     border-bottom: 5px solid #0075d9;
     transition: all .5s ease;
     /* cursor: pointer; */
}

.Inputs h2{
    letter-spacing: 5px;
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    font-size: px;

}

#Id,
#Au, 
#Ti,
#De,
#Ar{
    outline: none;
    background: rgb(0, 0, 0, .5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-top: 5px solid #0075d9;
    border-bottom: 5px solid #0075d9;
    font-size: 14px;
    font-weight: normal;
    transition: all .5s ease;
}

#Id:focus,
#Au:focus, 
#Ti:focus,
#De:focus,
#Ar:focus{
    border-top: 5px solid #8dd900;
    border-bottom: 5px solid #8dd900;
}

#Gu{
    background: #0075d9;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}

#Gu:hover{
    background: #8dd900;
}
#Ce{
    background: #0075d9;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}

#Ce:hover{
    background: #8dd900;
}